.nopage-con {
	position:absolute;
	padding-top:10%;
	width:100%;
	height:100%;
	background-color: #0A7189;
	color: #fff;
	font: 100% "Lato" , sans-serif;
	font-size: 1.8rem;
	font-weight: 300;
	text-align:center;
}
.nopage-con a {
    color: #75C6D9;
    text-decoration: none;
}


.nopage-con ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
}
    
.nopage-con .header {
    font-size: 13rem;
    font-weight: 700;
    margin: 2% 0 2% 0;
    text-shadow: 0px 3px 0px # 7 f8c8d;
}

.nopage-con .error {
    margin: -70 px 0 2 % 0;
    font - size: 7.4 rem;
    text - shadow: 0 px 3 px 0 px #7f8c8d;
    font-weight: 100;
}
