.action-flex{
	display:flex;
}
.action-flex .flex-1{
	flex:1;
}
.action-flex .flex-2{
	flex:1;
}
.action-flex .flex-3{
	flex:1;
}
.action-flex .anticon-camera{
	color:#ccc;
}
.action-flex .anticon-customerservice{
	color:#ccc;
}
.action-flex .output-color{
	color:#F6B028;
}
.action-flex .player_container{
	height:200px;
	margin:53px 0 0 20px;
}
.action-flex .jwp-con{
	height:100%;
}
.action-flex .action{
	z-index:1000;
	display:flex;
	height:100%;
	width:100%;
	/*background-color: rgba(0,0,0,0.6);*/
}
.action-flex .action div{
	flex:1;
}
.action-flex .action .status{
	flex:1;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	position:relative;
}
.action-flex .status-con{
	position:absolute;
	top:10px;
	left:10px;
}
.action-flex .status-con .anticon{
	color:#fff;
}
.action-flex .status-con .setting{
	color:#fff;
	font-size:13px;
}
.ly-flag-user-inactive.ly-state-playing .ly-controlbar{
	z-index:100000;
}
