.app_manager svg {
	height: 250px;
}
.app_manager_edit_table_option{
	display: inline-block;
	margin-right: 10px;
	color:#2db7f5;
	cursor:pointer;
}
.app_manager_set_add_btn{
	text-align: right;
}
.app_manager_back{
	width: 50px;
}
.app_manager_set_form_right{
	margin-left: 10px;
}
.app_manager_set_dailog .ant-modal-footer{
	display: none;
}
.app_manager_set_dailog_desc{
	padding-left:80px;
}
.app_manager_set_botton,.app_manager_edit_dialog_buttom{
	margin-top: 20px;
	text-align: right;
}
.app_manager_set_button_style,.app_manager_set_app_btn_margin{
	margin-left: 10px;
}
.app_manager_set_container{
	margin-top: 50px;
}
.app_manager_edit_dailog .ant-modal-footer{
	display: none;
}
.app_manager_edit_delete_dailog p{
	line-height: 20px;
}
.app_manager_edit_delete_dailog span.app_manager_edit_span{
	padding-right: 10px;
	font-weight: bold;
}
.app_manager_set_container{
	margin-top: 50px;
}
.app_manager_set_content{
	width: 800px;
	margin:0 auto;
	border:1px solid #e9e9e9;
	padding-bottom: 50px;
}
.app_manager_set_content_title{
	height: 30px;
	line-height: 30px;
	background: #e9e9e9;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 50px;
}
.app_manager_equipment_dailog .ant-modal-footer{
	border-top:0;
}
.app_manager_strong{
	font-weight: bold;
	color:red;
	display: inline-block;
	margin:0 5px;
}
.app_manager_set_app_btn{
	text-align: right;
}
.app_manager_set_save_button{
	text-align: center;
}
.app_manager_set_hide_font{
	visibility: hidden;
}
.app_manager_set_app_key_href{
	text-decoration: underline;
	color:#666;
}
.app_manager_set_app_key_href:hover{
	text-decoration: underline;
	color:#666;
}
.app_manager_set_app_key_strong{
	color:#2db7f5;
}
.app_manager_key_list{
	margin-bottom:5px;
}
.show_detail{
	font-size: 16px;
	margin-right: 2px;
}
.show_detail::before{
	margin-top: 2px;
}
.app_manager_edit-form .delete_option,.app_manager_equipment_table_lock{
    color:red;
    cursor: pointer;
}
.app_manager_equipment_table_unlock{
	color: #57c5f7;
	cursor: pointer;
}
.app_manager_equipment_table_unlock .anticon:before,
.app_manager_equipment_table_lock .anticon:before{
	margin-right: 5px;
}
.app_manager_equipment_dailog .unlock,.app_manager_equipment_dailog .lock{
	color:red;
	font-weight: bold;
	display: inline-block;
	margin:0 5px;
}
.app_manager_index_pager_center{
	width: 300px;
	margin:0 auto;
}
.app_manager_index_page_desc{
   height: 268px;
   padding-top:18px;
   overflow: hidden;
}
.app_manager_index_page_desc .ant-form-item{
	margin-bottom: 5px;
}
.app_manager_index_page_contianer{
	width: 800px;
	margin: 0 auto;
}
.app_manager_index_page_desc .ant-form-text{
	margin-left:10px;
}
.app_manager_index_btn{
	display: inline-block;
	background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-color: #F6B028;
    border-color: #F6B028; 
    color:#fff;
}
.app_manager_index_btn:hover{
	color:#fff;
}
.app_manager_id_dailog .ant-modal-content .ant-modal-footer{
	border-top: 0;
}
.app_manager_cancel{
    background-color: #f6f6f6;
    border-color: #e1e1e1;
    color: #858585;
}
.app_manager_cancel:hover{
	background-color: transparent;
    border-color: 57c5f7;
    color: #57c5f7;
}
.app_manager_id_dailog .ant-modal-footer{
	display: none;
}
.app_manager_edit_dailog table tr td:last-child{
	width: 60%;
}
.app_manager_set .col-14{
	color: #666;
    text-align: left;
    vertical-align: middle;
    padding-left:20px;
    padding-bottom: 7px;
}
.app_manager_id_dailog .ant-form-item{
	margin-bottom: 0px;
}
.app_manager_id_dailog .ant-form-text{
	padding-left: 10px;
}
.app_manager_set_desc{
	margin-top: 20px;
	padding-left: 20px;
}
.app_manager_statistics_query{
	overflow: hidden;
}
.app_manager_id_new_approval{
	color:red;
	padding-left: 10px;
	display: inline-block;
	position: absolute;
	width: 50px;
	top:-15px;
}
.app_manager_id_approval_td{
	position: relative;
	width: 100%;

}
.app_manager_set_add_btn{
	margin-top: 24px;
}
.app_manager_edit_detail_title{
	font-weight: bold;
	float: left;
	width: 130px;
}
.app_manager_edit_detail_content{
	float: left;
	width: 600px;
}
.app_manager_edit_items{
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.app_manager_edit_detail_copy{
	width: 100px;
	float: right;
	color: red;
	cursor: pointer;
}