.cliparea-content{
	display:flex;
}
.cliparea .toclipmedia{
	flex:1;
}
.cliparea .action{
	flex:1;
	padding-left:20px;
}
.cliparea .plus-circle{
	font-size:20px;
	color:#F6B028;
	vertical-align:middle;
	cursor:pointer;
}
.cliparea .up-title{
	vertical-align:middle;
	height:30px;
	line-height:30px;
}

.cliparea .up-cid{
	width:50%;
}
