.loopClip .ant-form-inline{
	padding-bottom: 15px;
}
.loopClip .timeline{
	margin: 0px 0 10px 0px;
	height:20px;
	width:100%;
	background:#F6B028;
	border-radius:10px;
	overflow:hidden;
}
.loopClip .node{
	height:100%;
	float:left;
}
.loopClip .active{
	height:100%;
	width:100%;
	/*background-color:green;*/
}
.loopClip .unactive{
	height:100%;
	width:100%;
	background-color:#ccc;
}
